<!DOCTYPE html>
<html>
	<%- include('./partials/head') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header>
				<section id="header">
					
					<h1><a href="/">Bitmode</a></h1>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Inicio</a></li>
							<li>
								<a href="/about">Nosotros</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="#">Phasellus consequat</a>
										<ul>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li><a href="#">Veroeros feugiat</a></li>
											<li><a href="#">Nisl sed aliquam</a></li>
											<li><a href="#">Dolore adipiscing</a></li>
										</ul>
									</li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li>
							<li><a href="/services">Servicios</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/#">Contacto</a></li>
						</ul>
					</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>¡Hola Mundo! Somos Bitmode.</h2>
								<p>especialistas en tecnologías de la información</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-cog"></i>
										<header>
											<h2>Expertos</h2>
										</header>
										<p>Más de 10 años de experiencia en administración de redes de telecomunicaciones.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-bolt"></i>
										<header>
											<h2>Ágiles</h2>
										</header>
										<p>Soluciones simples, rápidas y fáciles de implementar.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-star"></i>
										<header>
											<h2>Flexibles</h2>
										</header>
										<p>Analizamos cada caso y adaptamos la tecnología disponible a cada proyeycto.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="/contact" class="button large">Contactanos</a></li>
									<li><a href="/about" class="button alt large">Aprendé más</a></li>
								</ul>
							</footer>
						</section>

				</section>
			</header>
			<!-- Main -->
			<main>
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Nuestro Portfolio</h2>
										</header>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
													<header>
														<h3>Networking</h3>
													</header>
													<p>Contamos con mas de 10 años de experiencia operando redes de interconexión de internet, brindando soluciones en ISPs con miles de clientes.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
													<header>
														<h3>Monitoreo</h3>
													</header>
													<p>Implementamos software de monitoreo de redes, para que la operación de la red sea sencilla, fácil de entender y facilite la identificación rápida de incidentes.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
													<header>
														<h3>Desarrollo web full stack</h3>
													</header>
													<p>Desarrollamos aplicaciones web a medida, con foco en el backend que integre el modelo de negocio requerido por nuestros clientes.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
													<header>
														<h3>Distribución de contenidos</h3>
													</header>
													<p>Procesamiento de audio, video y distribución a traves de internet vía streaming. Ideal para programadores y generadores de contenido.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
													<header>
														<h3>Virtualizacion y Cloud (AWS)</h3>
													</header>
													<p>Trabajamos con tecnología de virtualización, permitiendo rápidos despliegues de servicios. También ofrecemos soluciones basadas en nube.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
													<header>
														<h3>Consultoria</h3>
													</header>
													<p>Servicios profesionales dedicados en base a nuestra experiencia y conociemnto. Aseramiento técnico que  agregar valor a la gestión y operación de su red.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">Más información</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
							<div class="col-12">

								<!-- Blog --> 
									<!--<section>
										<header class="major">
											<h2>Blog</h2>
										</header>
										<div class="row">
											<div class="col-6 col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
													<header>
														<h3>QoS: Calidad de servicio -PCQ-</h3>
														<p>Posted 10/01/2023</p>
													</header>
													<p>Córdoba - Bitmode. La calidad de servicio (quality of service o QoS) se refiere a cualquier tecnología que gestiona el tráfico de datos para reducir la pérdida de paquetes, la latencia y el jitter, o fluctuación, en una red. QoS controla y administra los recursos de la red estableciendo prioridades para tipos específicos de datos en la red.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button icon solid fa-file-alt">Continuar Leyendo</a></li>
															#comentar esta linea <li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic-blog-001.jpg" alt="" /></a>
													<header>
														<h3>BGP. Interconectando redes.</h3>
														<p>Posted 17/01/2023</p>
													</header>
													<p>Córdoba - Bitmode. BGP (Border Gateway Protocol) es el protocolo sobre el que se apoya el sistema de enrutamiento global de Internet. Básicamente administra cómo se enrutan los paquetes de una red a otra a través del intercambio de información de enrutamiento entre enrutadores de borde.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button icon solid fa-file-alt">Continuar leyendo</a></li>
															#comenttar esta linea <li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section> -->

							</div>
						</div>
					</div>
				</section>
			</main>
			
			<%- include('./partials/footer') %>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>