<!-- views/partial/navbar.ejs-->
<!-- Logo -->
<!-- NO LO USO, POR EL MARCADOR, PERO PARA QUE ESTE DE REFERENCIA-->
<h1><a href="/">Bitmode</a></h1>

<!-- Nav -->
<nav id="nav">
    <ul>
        <li class="current"><a href="/">Inicio</a></li>
        <li>
            <a href="/about">Nosotros</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li><a href="#">Veroeros feugiat</a></li>
                        <li><a href="#">Nisl sed aliquam</a></li>
                        <li><a href="#">Dolore adipiscing</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
</nav>